
[a]{
background-position: 0px 0px;
}
[b]{
background-position: -100px 0px;
}
[c]{
background-position: -200px 0px;
}
[d]{
background-position: -300px 0px;
}
[e]{
background-position: -415px 0px;
}
[f]{
background-position: -515px 0px;
}
[g]{
background-position: -615px 0px;
}
[h]{
background-position: -715px 0px;
}
[i]{
background-position: -815px 0px;
}
[j]{
background-position: -915px 0px;
}
[k]{
background-position: -1015px 0px;
}