ul,li{
	padding:0;
	margin:0;
	list-style:none;
}

section{
	width:500px;
	height:500px;
	border:1px solid;
	overflow: hidden;
  padding:20px;
}

.pages{
	width:100%;
	height:15%;
	margin:0 auto;
}

.pages li{
	border-bottom:1px solid gray;
	width:25%;
	height:100%;
	float:left;
	text-align:center;
	line-height:5;
}

.pages li:hover{
	color:rgba(16,143,233,1);
	cursor:pointer;
}

.pages .active{
	color:blue;
	border-color:rgba(16,143,233,2);
}

.main {
	padding:0;
	font-size:0;
	width:100%;
	height:85%;
	white-space:nowrap;
	border:1px solid white;
	transition:all 1s;
}


.test{
	display:inline-block;
	width:100%;
	height:100%;
	font-size:20px;
}