doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="/javascripts/jquery.js")
    script(type="text/javascript" src="/javascripts/index.js")
  body
    div.head
    div.head-a
    div.head-l
    div.head-r-fish
    div.head-l-seafloor 
    div.content  
      block content

